html, body, #home {
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
}
/*Sobrescrição das propriedades CSS do BootStrap: inspecionar elemento*/
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 0.5);
} /*Fim content*/

.divisor {
    width: 1px;
    margin: 12px 15px;
    background: white;
}

/* Estrutura dos conteúdos */
#servicos {
    padding: 20px 0;
    background: white;
}
#recursos {
    padding: 20px 0;
}
.albuns {
    padding: 10px 0;
}
.rotacionar {
    padding-left: 80px;
    
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

/* Capa & Tipografia */
.capa {
    text-align: center;
}
h1 {
    color: white;
    font-weight: 900;
    margin-bottom: 50px;
    letter-spacing: -0.05em;
}
h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
#servicos h2, h3  {
    color: #7c25f8;
}
#servicos p {
    color: black;
}
#recursos h2, p {
    color: white;
}
#recursos h3 {
    color: #9bf0e1;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h1 {
        font-size: 1em;
    }
    .btn-custom {
        font-size: 1em;
        margin: 10px 15px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1 {
        font-size: 4em;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1 {
        font-size: 5em;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1 {
        font-size: 6em;
    }
}

/* Buttons */
.btn-custom {
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    
    border-radius: 500px;
    -moz-border-radius: 500;
    -webkit-border-radius: 500;
}
.btn-roxo {
    background: #7c25f8;
}
.btn-roxo:hover {
    color: #fff;
    background: #6207e3;
}
.btn-branco {
    border: 2px solid #fff;
}
.btn-branco:hover {
    color: black;
    background: white;
}

/* Rodapé */
footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer {
    background: #000;
    position: relative;
    padding: 50px 0 20px 0;
}
footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}
footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}
footer ul {
    list-style: none;
}
footer ul li {
    float: right;
    margin: 0 5px;
    list-style: none;
}
